*{
  box-sizing: border-box;
}

.contact_section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact_title{
  color: white;
  font-size: 5rem;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 4rem;
  align-self: center;
}

.rectangle{
  height: 70%;
  width: 100%;
  background: #1E1E1E;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 9.5rem;
  padding: 5rem;
}