<section class="contact_section">
  <h2 class="contact_title">CONTACTO</h2>
  <section class="rectangle">
    <div class="social_media_section">
      <h3>Mis redes</h3>
      <ul>
        <li>
          <img src="../../../assets/linkedin_icon.svg" alt="linkedin_icon">
          <a href="https://www.linkedin.com/in/martinez-roman">Román Martinez</a>
        </li>
        <li>
          <img src="../../../assets/github_icon.svg" alt="github_icon">
          <a href="https://www.github.com/ramroman163">ramroman163</a>
        </li>
        <li>
          <img src="../../../assets/email_icon.svg" alt="email_icon">
          <a href="mailto:ramroman163@gmail.com">ramroman163@gmail.com</a>
        </li>
        <li>
          <img src="../../../assets/location_icon.svg" alt="location_icon">
          <a href="https://www.google.com/maps/place/Ciudadela/@-34.638815,-58.5516588,14.5z/data=!4m6!3m5!1s0x95bcc81240c8ddc5:0x1c7dacd6524818e2!8m2!3d-34.6399361!4d-58.5411618!16s%2Fg%2F1227crty?entry=ttu">Ciudadela, Buenos Aires</a>
        </li>
      </ul>
    </div>
    <div class="form_section">
      <h3>Envíame un mensaje</h3>
      <form (ngSubmit)="sendMail()">
        <input class="input_form" type="text" name="nombre" [(ngModel)] = "contactData.nombre" id="" placeholder="Nombre" required #nombre="ngModel" autocomplete="off">
        <input class="input_form" type="email" name="email" [(ngModel)] = "contactData.email" id="" placeholder="Email" email required #email="ngModel" autocomplete="off">
        <textarea name="motivo" id="" cols="30" rows="10" [(ngModel)] = "contactData.motivo" placeholder="Motivo" required #motivo="ngModel" autocomplete="off"></textarea>
        <input class="submit_form" type="submit" value="Enviar">
      </form>
    </div>
  </section>
  <img class="cross" src="../../../assets/cross.svg" alt="">
</section>