<header *ngIf="hideNavbar">
  <ul>
    <li>
      <a href="#start">Inicio</a>
      <div class="line" #line></div>
    </li>
    <li>
      <a href="#aboutme">Sobre Mí</a>
      <div class="line" #line2></div>
    </li>
    <li>
      <a href="#skills">Habilidades</a>
      <div class="line" #line3></div>
    </li>
    <li>
      <a href="#projects">Proyectos</a>
      <div class="line" #line4></div>
    </li>
    <li>
      <a href="#contact">Contacto</a>
      <div class="line" #line5></div>
    </li>
  </ul>
</header>
<div class="menu_button" (click)="toggleNavbar()">
  <img class="menu_icon" src="../../../assets/menu.svg" alt="menu_icon">
</div>