*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.card{
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-img__section{
  min-height: 30vh;
  width: 45%;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem 0 0 2rem;
  transform: scale(1.05);
}

.card-text__section{
  padding: 2rem 3rem;
  min-height: 30vh;
  background: #3D3D3D;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0 2rem 2rem 0;
}

.card__text{
  color: white; 
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.card__text-title{ 
  font-size: 2rem;
}

.card__text-level{
  font-size: 1.50rem;
}

.card__text-area{
  font-size: 1.25rem;
  font-weight: 400;
}

@media screen and (max-width: 575px){
  .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .card-img__section{
    width: 100%;
    border-radius: 2rem 2rem 0 0;
  }

  .card-text__section{
    width: 100%;
    border-radius: 0 0 2rem 2rem;
  }
}
