section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 4.5rem;
}

.name-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  z-index: 100;
}

.name-section > h1 {
  font-size: 5.5rem;
  z-index: 100;
}

.name-section > h2 {
  font-size: 2rem;
  z-index: 100;
}

.profile{
  width: 300px;
  height: 300px;
  background: linear-gradient(0deg, #1E1E1E 0%, #1E1E1E 100%);
  border-radius: 50%; 
  border: 0.5rem white solid;
  z-index: 100;
}

.cross{
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(10%, -50%);
}

.circle{
  position: absolute;
  top: -25%;
  left: -20%;
  transform: translate(-20%, -25%);
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  section{
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
  }

  .name-section{
    align-items: center;
    text-align: center;
  }
}