<section class="projects_section">
  <h2 class="projects_title">PROYECTOS</h2>
  <section class="rectangle">
    <div style="width: 100%; height: 100%; position: relative">
      <div style="width: 551px; height: 487px; left: 0px; top: 0px; position: absolute; background: #3D3D3D; border-radius: 15px"></div>
      <div style="width: 551px; height: 241.10px; left: 0px; top: 0px; position: absolute; background: rgba(3, 57, 166, 0.25); border-top-left-radius: 15px; border-top-right-radius: 15px"></div>
      <div style="width: 483.04px; height: 82.62px; left: 33.06px; top: 260.89px; position: absolute"></div>
      <div style="left: 33px; top: 219px; position: absolute; color: white; font-size: 48px; font-family: IBM Plex Sans; font-weight: 600; word-wrap: break-word">Proyecto</div>
      <div style="width: 486.22px; height: 89.33px; left: 30px; top: 288px; position: absolute; color: white; font-size: 24px; font-family: IBM Plex Sans; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. primis in faucibus orci luctus et ultrices posuere cubilia curae</div>
      <div style="width: 230px; height: 67px; left: 286px; top: 397px; position: absolute">
          <div style="width: 230px; height: 67px; left: 0px; top: 0px; position: absolute; background: #1E1E1E; border-radius: 50px; border: 6px rgba(3, 57, 166, 0.25) solid"></div>
          <div style="width: 230px; height: 67px; padding-top: 18px; padding-bottom: 18px; padding-left: 45px; padding-right: 46px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
              <div style="width: 139px; height: 31px; text-align: center; color: white; font-size: 24px; font-family: IBM Plex Sans; font-weight: 500; word-wrap: break-word">Conocelo ></div>
          </div>
      </div>
  </div>
  </section>
</section>