<section class="aboutme_section">
  <h2 class="aboutme_title">SOBRE MÍ</h2>
  <section class="rectangle">
    <p class="aboutme_text">Soy un desarrollador fullstack junior apasionado y comprometido, con sólidas bases en programación. <br>
      Me encuentro motivado por el aprendizaje continuo, la resolución de desafíos, y la colaboración en proyectos grupales, buscando
      oportunidades para aplicar mis conocimientos en equipos dinámicos.</p>
    <div class="container_buttons">
      <button>Mi CV</button>
      <button>Contratame</button>
    </div>
  </section>
  <img class="cross" src="../../../assets/cross.svg" alt="">
</section>