<section class="aboutme_section">
  <h2 class="aboutme_title">SOBRE MÍ</h2>
  <section class="rectangle">
    <p class="aboutme_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur mollitia sed dolorum
      doloremque nobis
      exercitationem dolorem perferendis odit beatae voluptatum inventore, velit quae illo quisquam deserunt, provident
      amet dicta facilis. Fugit aspernatur laudantium, numquam nostrum culpa voluptatum ab voluptatem
      doloribus sunt explicabo.</p>
    <div class="container_buttons">
      <button>Mi CV</button>
      <button>Contratame</button>
    </div>
  </section>
  <img class="cross" src="../../../assets/cross.svg" alt="">
</section>