html{
  max-width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}

main{
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #131226;
  min-height: 100vh;
  padding-left: 4rem;
  padding-right: 4rem;
  background-image: url('../assets/bg_circles.svg');
  background-size: contain;
}

.button_up{
  position: fixed;
  background: #020113;
  border-radius: 50%;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  bottom: 45px;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease all;
  animation-name: move;
	animation-duration: 3s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	animation-iteration-count: infinite;
}

@keyframes move {
  0%{
    bottom: 45px;
  }
  50%{
    bottom: 60px;
  }
  100%{
    bottom: 45px;
  }
}

.button_up:hover{
  transform: scale(1.10);
}

.button_up img{
  fill: white !important;
  width: 2.5rem;
  height: 2.5rem;
}