*{
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}


body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #131226;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
}