*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.experiences_section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experiences_title{
  color: white;
  font-size: 5rem;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 4rem;
  align-self: flex-end;
}

.rectangle{
  height: 70%;
  width: 100%;
  background: #1E1E1E;
  border-radius: 1rem;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 4rem;
}

.rectangle > app-skill-card{
  flex: 1;
}

.cross{
  position: absolute;
  top: 50%;
  right: -14%;
  transform: translate(-14%, -50%);
}

@media screen and (max-width: 1336px){
  .experiences_section{
    align-items: center;
  }
  .experiences_title{
    align-self: auto;
    font-size: calc(4rem + 1vw);
  }
  .cross{
    display: none;
  }

  .rectangle{
    padding: calc(4.5rem - .5vw) calc(3rem - .5vw);
  }
}

@media screen and (max-width: 520px){
  .experiences_title{
    align-self: auto;
    font-size: 3rem;
  }
}